{% extends "main/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h2>Weather Application</h2>
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
<hr>
<div class="container ">
    <!--  -->
    {% if current %}
    <div class="row justify-content-center">
        <h2 class="col-12 text-center">{{current.name}}</h2>
    </div>
    <div class="row justify-content-center">
        <h3 class="col-12 text-center">{{current.main.temp|floatformat:"0" }} C°</h3>
    </div>
    <div class="row justify-content-center">
        {% for w in current.weather %}
        <p class="col-12 text-center mb-1">{{w.description}}</p>
        {% endfor %}
    </div>
    <div class="row justify-content-center mt-1">
        <small class="col-auto">Max: {{current.main.temp_max|floatformat:"0" }} C°</small>
        <small class="col-auto">Min: {{current.main.temp_min|floatformat:"0" }} C°</small>
    </div>
    <hr />
    {% endif %}
    <!--  -->
    <!--  -->
    {% if data %}
    <div class="container">
        <div class="row">
            {% for day in data.list %}
            <div class="col text-center">
                <div>{{day.date_time|date}}</div>
                <div>{{day.temp|floatformat:"0" }} C°</div>
                <div>Max: {{day.temp_max|floatformat:"0" }} C°</div>
                <div>Min: {{day.temp_min|floatformat:"0" }} C°</div>
                <div>{{day.description}}</div>
                <div>
                    <img src="https://openweathermap.org/img/wn/{{ day.icon }}@2x.png" width="50" alt="img">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}