<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand mx-auto" href="{% url 'index' %}">Weather Application</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'statistics' %}">Cities statistics</a>
                </li>
                {% if u_history %}
                <li class="nav-item active">
                    <a href="{% url 'history' city=u_history %}" class="nav-link">Your previous search</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>